{% extends 'base.html.twig' %}

{% block title %}Symfony 5 et les formulaires : Mettre à jour des données{% endblock %}

{% block main %}
    <h1>Mettre à jour des données via un formulaire</h1>
{% endblock %}