{% extends 'base.html.twig' %}

{% block title %}Symfony 5 et les formulaires : Ajouter des données multiple{% endblock %}

{% block main %}
    <h1>Ajouter des données multiples via un formulaire</h1>
{% endblock %}