{% extends 'base.html.twig' %}

{% block title %}Symfony 5 et les formulaires : Supprimer des données{% endblock %}

{% block main %}
    <h1>Supprimer des données via un formulaire</h1>
{% endblock %}