{% extends 'base.html.twig' %}

{% block title %}Page en construction{% endblock %}

{% block main %}
    <h1>Page en construction, revenez plus tard !</h1>
    <div class="text-center my-5"><img src="{{ asset('images/wip.jpg') }}" alt="Work In Progress" class="img-fluid"></div>
{% endblock %}